[submodule "src/qemu"]
	path = src/qemu
	url = https://github.com/gattaca-lab/qemu
	branch = riscv_mte-devel
[submodule "src/riscv-gnu-toolchain"]
	path = src/riscv-gnu-toolchain
	url = https://github.com/gattaca-lab/riscv-gnu-toolchain
[submodule "src/llvm-project"]
	path = src/llvm-project
	url = https://github.com/gattaca-lab/llvm-project
